<nav class="nav">
  <ul class="list-unstyled d-flex pt-2 px-2 pb-1 mb-0 justify-content-between w-100 align-items-center">
    <li class="nav-item py-2 <%= active === 'home' ? 'bg-callout' : '' %>">
      <a href="./index.html">
        <img class=" nav-item-img mx-auto d-block" src="/assets/images/nav-icon/home-off.svg" alt="icon home">
      </a>
    </li>
    <li class="nav-item py-2 <%= active === 'explore' ? 'bg-callout' : '' %>">
      <img class="nav-item-img mx-auto d-block" src="/assets/images/nav-icon/explore-off.svg" alt="icon explore">
    </li>
    <li class="nav-item py-2 <%= active === 'gacha' ? 'bg-callout' : '' %> rounded-pill  position-relative">
      <img class="mx-auto d-block nav-item-img" src="/assets/images/nav-icon/card-on.svg" alt="icon gacha">
      <img class="position-absolute red-badge" src="/assets/images/nav-icon/red-badge.svg" alt="red-badge">
    </li>
    <li class="nav-item py-2 <%= active === 'message' ? 'bg-callout' : '' %> position-relative">
      <img class="nav-item-img mx-auto d-block" src="/assets/images/nav-icon/chat-off.svg" alt="icon message">
      <img class="position-absolute red-badge" src="/assets/images/nav-icon/red-badge.svg" alt="red-badge">
    </li>
    <li class="nav-item py-2 <%= active === 'user' ? 'bg-callout' : '' %> ">
      <img class="nav-item-img mx-auto d-block" src="/assets/images/nav-icon/user-off.svg" alt="icon user">
    </li>
  </ul>

</nav>

<%- include('./bottomLine.ejs') %>